# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env

# Database
*.db

# Backups
backups/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
